<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resort.mapper.NotificationMapper">
	
	<!-- Create -->
		<insert id="createNewNotification" parameterType="com.resort.domain.Notification">
			insert into notification (notificationid, notificationtitle, notificationcontent) values (notification_seq.nextval, '${Notification.notificationTitle}', '${Notification.notificationContent}')
		</insert>
		
	<!-- Read -->
		<select id="readAllNotification" resultType="com.resort.domain.Notification">
			select * from notification order by notificationid desc
		</select>
	<!-- Update -->
	
	<!-- Delete -->
		<delete id="deleteOneNotification" parameterType="Integer">
			delete from notification where notificationid = ${notificationId}
		</delete>
	
</mapper>